body {
  background-color: #f0f8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: auto; /* Esto permite que se vea completa */
  object-fit: contain; /* Muestra la imagen completa sin recortarla */
  padding: 10px;
  background-color: #ffffff;
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  color: #34495e;
  font-size: 16px;
}

.btn-primary {
  background-color: #3498db;
  border: none;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-secondary {
  background-color: #95a5a6;
  border: none;
}

.btn-secondary:hover {
  background-color: #7f8c8d;
}
